{% extends "nma-base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{%block title %}
About us | NMA Printers
{% endblock %}

{% block content %}
<main>
    <section class="about-hero">
        <div class="container">
            <div class="about-hero_content">
                <ul>
                    <li>#NMAPrinters</li>
                    <li>#ProductOfferings</li>
                    <li>#CustomPrinting</li>
                    <li>#ApparelPrinting</li>
                </ul>
                <h1>Welcome to NMA Printers</h1>
                <h4>Revolutionizing the Apparel Printing Industry</h4>
                <p>Your trusted partner for exceptional apparel printing solutions. We are a leading name in the industry, driven by a passion for quality, innovation, and customer satisfaction. With a visionary team of co-founders and a commitment to excellence, we deliver outstanding products and services to clothing brands nationwide.</p>
            </div>
        </div>
    </section>

    <section class="interests">
        <div class="container">
            <div class="interests-content">
                <h2 class="interests-heading">More interested? </h2>
                <div class="history-mission">
                    <h3>History</h3>
                    <p>Established in [2023], NMA Printers has rapidly grown from a humble startup to a recognized player in the apparel printing market. Our journey began with a clear vision to revolutionize the industry through creative design, cutting-edge printing technologies, and a relentless pursuit of customer delight. Over time, we have built a solid reputation for our expertise, reliability, and exceptional service.</p>
                </div>
                <div class="history-mission">
                    <h3>Mission</h3>
                    <p>At NMA Printers, our mission is to redefine the standards of apparel printing by offering unparalleled quality, innovation, and customer satisfaction. We are dedicated to pushing boundaries, creating remarkable designs, and ensuring every garment we print reflects our commitment to excellence. Our goal is to become the go-to choice for clothing brands seeking outstanding printing solutions.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="values">
        <div class="container">
            <div class="values-content">
            <h1 class="values-heading">Values</h1>
            <div class="primary-values">
                <div class="quality">
                    <h2 class="decorated-heading">
                        <span>Qua</span><span>lity</span>
                    </h2>
                    <p>We are obsessed with quality. From the selection of materials to the precision of our printing techniques, we strive for perfection in every detail. Our garments are a testament to our unwavering dedication to delivering superior products.</p>
                </div>
                <div class="innovation">
                    <h2 class="decorated-heading">
                        <span>Innov</span><span>ation</span>
                    </h2>
                    <p> We thrive on innovation. By staying ahead of industry trends and investing in state-of-the-art printing technologies, we offer our customers the most cutting-edge solutions. We constantly explore new techniques, materials, and processes to deliver extraordinary results.</p>
                </div>
            </div>

                <ul class="secondary-values">
                    <li>
                        <h2><span>Customer</span> <span>satisfaction</span></h2>
                        <p>Our customers are our top priority. We listen, understand, and collaborate closely with them to ensure their vision is brought to life. We go the extra mile to exceed their expectations, providing personalized service and timely delivery.</p>
                    </li>
                    <li>
                        <h2>Collaboration</h2>
                        <p>We believe in the power of collaboration. Our team of passionate individuals, led by visionary co-founders, works together to deliver exceptional outcomes. We foster a culture of creativity, teamwork, and open communication to achieve remarkable results.</p>
                    </li>
                    <li>
                        <h2><span>Quality</span> <span>assurance</span></h2>
                        <p>Quality Assurance: Every garment that leaves our facility undergoes rigorous quality checks. We are committed to delivering products that meet the highest standards, ensuring customer satisfaction with every order.</p>
                    </li>
                    <li>
                        <h2>Integrity</h2>
                        <p>We conduct business with integrity and transparency. We uphold the highest ethical standards, treating our customers, employees, and partners with honesty, fairness, and respect. Trust is the cornerstone of our relationships.</p>
                    </li>
                </ul>
        </div>
        </div>
    </section>

    <section class="members">
        <div class="container">
            <div class="members-content">
                <div class="primary">
                    <h2 class="members-heading">Want to know more about the guys behind NMA Printers?</h2>
                    <ul>
                        <li>
                            <h4>Designers</h4>
                            <p>Our talented team of designers is available to assist you in bringing your vision to life. Whether you have a rough idea that needs refinement or require a completely new design, we collaborate closely with you to create visually stunning and unique apparel.
                            </p>
                        </li>
                        <li>
                            <h4>Design Consultation</h4>
                            <p>Our designers will work closely with you to understand your brand, objectives, and target audience. They will provide expert advice and guidance to ensure your designs capture the essence of your vision.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="secondary">
                    <ul>
                        <li>
                            <h4>Printing Stuff</h4>
                            <p>We have the capacity and expertise to handle large-scale printing orders for clothing brands. Whether you need a number of garments printed, our efficient processes and attention to detail ensure timely delivery without compromising on quality.</p>
                        </li>
                        <li>
                            <h4>Bulk Order Management</h4>
                            <p> Our dedicated team will guide you through the entire process, from order placement to delivery. We ensure seamless coordination, clear communication, and on-time production to meet your deadlines.</p>
                        </li>
                        <li>
                            <h4>Consistent Quality Contriol</h4>
                            <p>With our strict quality control measures, you can trust that every garment will meet the highest standards. We meticulously inspect each item to ensure that it meets your specifications and our quality assurance guidelines.</p>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </section>

    <section class="founders">
        <div class="container">
            <ul class="founders-content">
                <li>
                    <div class="member-image"></div>
                    <div class="member-info">
                        <p class="member-name">Nqobizizwe Mazibuko</p>
                        <p><span class="strong">Role: </span><span>Founder 1</span></p>
                        <p class="strong">Description:</p>
                        <p>With a deep understanding of the apparel industry and a keen eye for design, Nqobizizwe is the driving force behind NMA Printers' creative direction. Their dedication to quality and innovation ensures that every product we offer exceeds expectations.</p>
                        <p>Follow</p>
                        <p class="links">lll</p>
                    </div>
                </li>
                <li>
                    <div class="member-image"></div>
                    <div class="member-info">
                        <p class="member-name">Mkhululi Gumede</p>
                        <p><span class="strong">Role: </span><span>Founder 2</span></p>
                        <p class="strong">Description:</p>
                         <p>Mkhululi brings a wealth of business acumen and strategic thinking to NMA Printers. His entrepreneurial spirit and commitment to customer satisfaction has played a pivotal role in establishing our business as a trusted and reliable partner in the industry.</p>
                        <p>Follow</p>
                        <p class="links">lll</p>
                    </div>
                </li>
                <li>
                    <div class="member-image"></div>
                    <div class="member-info">
                        <p class="member-name">Amanda Ngidi</p>
                        <p><span class="strong">Role: </span><span>Founder 3</span></p>
                        <p class="strong">Description:</p>
                        <p>The technical expertise and attention to detail of Amanda is the backbone of NMA Printers' operations. With in-depth knowledge of printing technologies and logistics management ensure that every order is executed flawlessly, delivering excellence to our valued customers.</p>
                        <p>Follow</p>
                        <p class="links">lll</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>
{% endblock %}