{% extends "nma-base.html" %}
{% load static %}

{%block title %}
Cart  | NMA Printer user / admin
{% endblock %}

{% block content %}
<main>
    <section class="cart">
        <div class="container">
            <div class="cart-content">
                <h2 class="heading">Shopping Cart</h2>

                <div class="cart-items">
                    <div class="sammary">
                        <div class="cart-sammary">
                            <h3>Cart Sammary</h3>
                            <p class="disclaimer">Please note that we don’t take online payments.</p>
                            <p>items: 20</p>
                            <h2 class="price">Total: R299.99</h2>

                            <a href="#">Checkout</a>
                        </div>
                    </div>
                    <ul class="cards">
                        <li>
                            <a href="#">
                                <div class="image">
                                    <img src="{% static 'images/beanie.png' %}" alt="">
                                </div>
                                <div class="info">
                                    <h3 class="name">Name of this item is trounser</h3>
                                    <h4>R199.99</h4>
                                    <p>InStock</p>
                                    <div class="cart-inputs">
                                        <label for="quantiy">Quantity:
                                            <input type="number" name="quantiy" id="quantiy" value="1" min="1">
                                        </label>
                                    </div>
                                </div>
                            </a>
                            <button class="remove">Remove</button>
                        </li>
                        <li>
                            <a href="#">
                                <div class="image">
                                    <img src="{% static 'images/beanie.png' %}" alt="">
                                </div>
                                <div class="info">
                                    <h3>Name</h3>
                                    <h4>R199.99</h4>
                                    <p>InStock</p>
                                    <div class="cart-inputs">
                                        <label for="quantiy">Quantity:
                                            <input type="number" name="quantiy" id="quantiy" value="1" min="1">
                                        </label>
                                    </div>
                                </div>
                            </a>
                            <button class="remove">Remove</button>
                        </li>
                        <li>
                            <a href="#">
                                <div class="image">
                                    <img src="{% static 'images/beanie.png' %}" alt="">
                                </div>
                                <div class="info">
                                    <h3>Name</h3>
                                    <h4>R199.99</h4>
                                    <p>InStock</p>
                                    <div class="cart-inputs">
                                        <label for="quantiy">Quantity:
                                            <input type="number" name="quantiy" id="quantiy" value="1" min="1">
                                        </label>
                                    </div>
                                </div>
                            </a>
                            <button class="remove">Remove</button>
                        </li>
                        <li>
                            <a href="#">
                                <div class="image">
                                    <img src="{% static 'images/beanie.png' %}" alt="">
                                </div>
                                <div class="info">
                                    <h3>Name</h3>
                                    <h4>R199.99</h4>
                                    <p>InStock</p>
                                    <div class="cart-inputs">
                                        <label for="quantiy">Quantity:
                                            <input type="number" name="quantiy" id="quantiy" value="1" min="1">
                                        </label>
                                    </div>
                                </div>
                            </a>
                            <button class="remove">Remove</button>
                        </li>
                        <li>
                            <a href="#">
                                <div class="image">
                                    <img src="{% static 'images/beanie.png' %}" alt="">
                                </div>
                                <div class="info">
                                    <h3>Name</h3>
                                    <h4>R199.99</h4>
                                    <p>InStock</p>
                                    <div class="cart-inputs">
                                        <label for="quantiy">Quantity:
                                            <input type="number" name="quantiy" id="quantiy" value="1" min="1">
                                        </label>
                                    </div>
                                </div>
                            </a>
                            <button class="remove">Remove</button>
                        </li>
                        <li>
                            <a href="#">
                                <div class="image">
                                    <img src="{% static 'images/beanie.png' %}" alt="">
                                </div>
                                <div class="info">
                                    <h3>Name</h3>
                                    <h4>R199.99</h4>
                                    <p>InStock</p>
                                    <div class="cart-inputs">
                                        <label for="quantiy">Quantity:
                                            <input type="number" name="quantiy" id="quantiy" value="1" min="1">
                                        </label>
                                    </div>
                                </div>
                            </a>
                            <button class="remove">Remove</button>
                        </li>
                        <li>
                            <a href="#">
                                <div class="image">
                                    <img src="{% static 'images/beanie.png' %}" alt="">
                                </div>
                                <div class="info">
                                    <h3>Name</h3>
                                    <h4>R199.99</h4>
                                    <p>InStock</p>
                                    <div class="cart-inputs">
                                        <label for="quantiy">Quantity:
                                            <input type="number" name="quantiy" id="quantiy" value="1" min="1">
                                        </label>
                                    </div>
                                </div>
                            </a>
                            <button class="remove">Remove</button>
                        </li>
                        <li>
                            <a href="#">
                                <div class="image">
                                    <img src="{% static 'images/beanie.png' %}" alt="">
                                </div>
                                <div class="info">
                                    <h3>Name</h3>
                                    <h4>R199.99</h4>
                                    <p>InStock</p>
                                    <div class="cart-inputs">
                                        <label for="quantiy">Quantity:
                                            <input type="number" name="quantiy" id="quantiy" value="1" min="1">
                                        </label>
                                    </div>
                                </div>
                            </a>
                            <button class="remove">Remove</button>
                        </li>
                        <li>
                            <a href="#">
                                <div class="image">
                                    <img src="{% static 'images/beanie.png' %}" alt="">
                                </div>
                                <div class="info">
                                    <h3>Name</h3>
                                    <h4>R199.99</h4>
                                    <p>InStock</p>
                                    <div class="cart-inputs">
                                        <label for="quantiy">Quantity:
                                            <input type="number" name="quantiy" id="quantiy" value="1" min="1">
                                        </label>
                                    </div>
                                </div>
                            </a>
                            <button class="remove">Remove</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}