{% extends "nma-base.html" %}
{% load static %}

{%block title %}
Services | NMA Printers
{% endblock %}

{% block content %}

<section class="services-hero">
    <div class="container">
        <div class="services-hero_content">
            <ul>
                <li>#NMAPrinters</li>
                <li>#ProductOfferings</li>
                <li>#CustomPrinting</li>
                <li>#ApparelPrinting</li>
            </ul>
            <h1>Product and services</h1>
            <p>NMA Printers offers a comprehensive range of apparel printing services to meet diverse customer needs. Our expertise includes</p>
        </div>
    </div>
</section>

<section class="services">
    <div class="container">
        <div class="services-content">
            <h2 class="top-header">Explore our offerings below</h2>
            <p class="top-message">At NMA Printers, we offer a wide range of product and service offerings to cater to the diverse needs of our customers. With our state-of-the-art printing technologies, skilled team of professionals, and unwavering commitment to quality, we deliver exceptional results that exceed expectations.</p>

            <ul class="primary-services">
                <li>
                    <h3>Custom Apparel Printing</h3>
                    <p>We specialize in printing custom designs on a wide range of garments, including t-shirts, hoodies, sweatshirts, and more. Our advanced printing techniques ensure vibrant colors, sharp details, and long-lasting prints.</p>
                </li>
                <li>
                    <h3>Design Services</h3>
                    <p>Our talented team of designers can bring your ideas to life. Whether you need assistance in refining your concept or require a completely new design, we are here to help you create visually stunning and unique apparel.</p>
                </li>
                <li>
                    <h3>Bulk Printing</h3>
                    <p>We have the capacity and expertise to handle large-scale printing orders for clothing brands. With our efficient processes and attention to detail, we ensure timely delivery without compromising on quality.</p>
                </li>
                <li>
                    <h3>Graphic Design</h3>
                    <p>Our skilled designers have a keen eye for aesthetics and can create captivating graphics that resonate with your brand. From logo designs to intricate artwork, we can create visually appealing designs that make an impact.</p>
                </li>
                <li class="image">image</li>
                <li>
                    <h3>Artwork Digitization</h3>
                    <p>If you have existing artwork or designs that need to be transformed into printable formats, we offer artwork digitization services. Our experts will convert your designs into something suitable for printing.</p>
                </li>
                <li>
                    <h3>Specialty Printing</h3>
                    <p>In addition to our standard printing services, we also offer specialty printing techniques to add unique touches to your garments.</p>
                </li>
                <li>
                    <h3>Sublimation Printing</h3>
                    <p>Sublimation printing allows for full-color, all-over prints on polyester-based fabrics. It is a dye-based process that results in vibrant, fade-resistant designs that can cover the entire garment.</p>
                </li>
                <li>
                    <h3>Embroidery</h3>
                    <p>Elevate your designs with custom embroidery. We offer high-quality embroidery services that add texture and dimension to your apparel, giving it a premium and professional finish.</p>
                </li>
            </ul>
            
            <ul class="secondary-services">
                <li>
                    <h3>Heat Transfer Vinyl (HTV):</h3>
                    <p>HTV is a popular method for creating intricate and colorful designs on garments. It involves cutting out designs from colored vinyl and heat-pressing them onto the fabric, resulting in a vibrant, durable, and long-lasting print.</p>
                </li>
                <li><img src="" alt=""></li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}