<footer class="footer">
<div class="container">
    <div class="footer-content">
        <div class="word">
            <h2>Nma Printers</h2>
            <p>At NMA Printers, we are dedicated to providing you with a comprehensive range of product and service offerings to meet all your apparel printing needs. From custom designs to bulk orders and specialized printing techniques, we are committed to delivering exceptional quality, innovative solutions, and outstanding customer service.</p>
        </div>
        <div>
            <h2>Sitemap</h2>
            <ul class="sitemap">
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Order in bulk</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </div>
        <div class="locator">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13840.381419004885!2d30.976159350000003!3d-29.86152375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sza!4v1689189228661!5m2!1sen!2sza" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
</footer>