<div class="header_contact ">
    <div class="header_contact-email">
        <i class="fa-sharp fa-regular fa-envelope"></i>
        <a href="#">admin@nmprinters.com</a>
    </div>
    <div class="header_contact-icons">
        <div class="icons">
            <a href="#"><i class="fa fa-facebook fa-md"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-whatsapp"></i></a>
        </div>
        <div class="phone">
            <i class="fa fa-cellphone"></i>
            <p>+2769 890 2839</p>
        </div>
    </div>
</div>