<div class="filter-tab">
    <ul class="buttons">
        <li class="filter-items active" data-id="0" aria-selected="true">Varsity Wear</li>
        <li class="filter-items" data-id="1" role="tab" aria-selected="false">Women</li>
        <li class="filter-items" data-id="2" role="tab" aria-selected="false">Men</li>
        <li class="filter-items" data-id="3" role="tab" aria-selected="false">Casual</li>
        <li class="filter-items" data-id="4" role="tab" aria-selected="false">Women</li>
        <li class="filter-items" data-id="5" role="tab" aria-selected="false">Men</li>
        <li class="filter-items" data-id="6" role="tab" aria-selected="false">Casual</li>
        <li class="filter-items" data-id="7" role="tab" aria-selected="false">Women</li>
        <li class="filter-items" data-id="8" role="tab" aria-selected="false">Men</li>
        <li class="filter-items" data-id="9" role="tab" aria-selected="false">Casual</li>
    </ul>
</div>