<section class="meet-nma">
    <div class="container">
        <div class="meet-nma_content">
            <h1>Meet NMA Printers</h1>

            <ul class="meet-nma_cards">
                <li class="meet-nma_card">
                    <h2>Integrity</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam, magni?</p>
                    <p><a href="{% url 'about-us' %}">read more</a></p>
                </li>
                <li class="meet-nma_card">
                    <h2>Integrity</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non cumque ipsam porro?</p>
                    <p><a href="{% url 'about-us' %}">read more</a></p>
                </li>
                <li class="meet-nma_card">
                    <h2>Integrity</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, in debitis necessitatibus delectus sequi laboriosam.</p>
                   <p><a href="{% url 'about-us' %}">read more</a></p>
                </li>
            </ul>
        </div>
    </div>
</section>