{% load static %}
<ul class="store-hero_cards">
    <li>
        <a href="{% url 'product-detail' %}">
            <div class="image">
                <img src="{% static 'images/beanie.png' %}" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
            <h3>R199.99</h3>
            <div class="btns">
                <div>
                    <i class="fa-sharp fa-regular fa-star-sharp-half-stroke"></i>
                    <span>4.5</span>
                </div>
                <button>Add to cart</button>
            </div>
        </a>
    </li>
    <li>
        <a href="{% url 'product-detail' %}">
            <div class="image">
                <img src="{% static 'images/beanie.png' %}" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
            <h3>R199.99</h3>
        </a>
        <div class="btns">
            <div>
                <i class="fa-sharp fa-regular fa-star-sharp"></i>
                <span>4.5</span>
            </div>
        </div>
    </li>
    <li>
        <a href="{% url 'product-detail' %}">
            <div class="image">
                <img src="{% static 'images/beanie.png' %}" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
            <h3>R199.99</h3>
        </a>
            <div class="btns">
                <div>
                    <i class="fa-sharp fa-regular fa-star-sharp-half-stroke"></i>
                    <span>4.5</span>
                </div>
                <button>Add to cartss</button>
            </div>
    </li>
    <li>
        <a href="{% url 'product-detail' %}">
            <div class="image">
                <img src="{% static 'images/beanie.png' %}" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
            <h3>R199.99</h3>
        </a>
            <div class="btns">
                <div>
                    <i class="fa-sharp fa-regular fa-star-sharp-half-stroke"></i>
                    <span>4.5</span>
                </div>
                <button>Add to cart</button>
            </div>
    </li>
    <li>
        <a href="{% url 'product-detail' %}">
            <div class="image">
                <img src="{% static 'images/beanie.png' %}" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
            <h3>R199.99</h3>
        </a>
            <div class="btns">
                <div>
                    <i class="fa-sharp fa-regular fa-star-sharp-half-stroke"></i>
                    <span>4.5</span>
                </div>
                <button>Add to cart</button>
            </div>
    </li>
    <li>
        <a href="{% url 'product-detail' %}">
            <div class="image">
                <img src="{% static 'images/beanie.png' %}" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
            <h3>R199.99</h3>
        </a>
            <div class="btns">
                <div>
                    <i class="fa-sharp fa-regular fa-star-sharp-half-stroke"></i>
                    <span>4.5</span>
                </div>
                <button>Add to cart</button>
            </div>
    </li>
    <li>
        <a href="{% url 'product-detail' %}">
            <div class="image">
                <img src="{% static 'images/beanie.png' %}" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
            <h3>R199.99</h3>
            <div class="btns">
            </a>
                <div>
                    <i class="fa-sharp fa-regular fa-star-sharp-half-stroke"></i>
                    <span>4.5</span>
                </div>
                <button>Add to cart</button>
            </div>
    </li>
    <li>
        <a href="{% url 'product-detail' %}">
            <div class="image">
                <img src="{% static 'images/beanie.png' %}" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
            <h3>R199.99</h3>
            <div class="btns">
            </a>
                <div>
                    <i class="fa-sharp fa-regular fa-star-sharp-half-stroke"></i>
                    <span>4.5</span>
                </div>
                <button>Add to cart</button>
            </div>
    </li>
    <li>
        <a href="{% url 'product-detail' %}">
            <div class="image">
                <img src="{% static 'images/beanie.png' %}" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
            <h3>R199.99</h3>
            <div class="btns">
            </a>
                <div>
                    <i class="fa-sharp fa-regular fa-star-sharp-half-stroke"></i>
                    <span>4.5</span>
                </div>
                <button>Add to cart</button>
            </div>
    </li>
    <li>
        <a href="{% url 'product-detail' %}">
            <div class="image">
                <img src="{% static 'images/beanie.png' %}" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
            <h3>R199.99</h3>
        </a>
            <div class="btns">
                <div>
                    <i class="fa-sharp fa-regular fa-star-sharp-half-stroke"></i>
                    <span>4.5</span>
                </div>
                <button>Add to cart</button>
            </div>
    </li>
</ul>